* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  width: 30%;
  margin: 0 auto;
}

/**********NAVIGATION**********/
.navigation {
  margin: 3rem 0;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

.title-div {
  font-size: 2.5rem;
  align-self: center;
}

.theme-div {
  width: 15rem;
  height: 50%;
  display: grid;
  margin: auto 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  /* gap: 1rem; */
  /* align-items: center; */
}

.switch-icon {
  height: 100%;
  border-radius: 2rem;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.theme-text {
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  justify-self: center;
  letter-spacing: 1.15px;
}

.switch-num {
  display: flex;
  align-self: center;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 600;
}

#myRange {
  width: 90%;
  margin: 0 auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1.5rem; /* Set a specific slider handle width */
  height: 1.5rem; /* Slider handle height */
  background: var(--sliderColor, hsl(6, 100%, 50%));
  /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1.5rem; /* Specified height */
  background: #d3d3d300; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/**********DISPLAY SECTION**********/
.input-div {
  width: 100%;
  height: 15rem;
  /* background-color: hsl(224, 36%, 15%); */
  border-radius: 1rem;
  overflow: hidden;
}

.display-text {
  text-align: right;
  padding-top: 2.5rem;
  padding-right: 5rem;
  height: 30%;
  font-size: 2rem;
  color: gray;
}

#input-number {
  height: 70%;
  width: 100%;
  /* color: white; */
  font-size: 6rem;
  font-family: inherit;
  /* background-color: hsl(224, 36%, 15%); */
  outline: none;
  border: none;
  padding: 2rem 3rem;
  text-align: right;
  letter-spacing: 0.2rem;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/**********NUMPAD SECTION**********/
.numpad-section {
  margin-top: 3rem;
}

.numpad-div {
  padding: 3rem;
  width: 100%;
  /* height: 40rem; */
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}

.numpad-div button {
  height: 5rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  /* color: hsl(221, 14%, 31%); */
  font-family: inherit;
  font-weight: 700;
  font-size: 3rem;
  justify-self: center;
  cursor: pointer;
}

.one-color {
  box-shadow: ;
}

.two-color {
  color: white !important;
  font-size: 2.5rem !important;
}

.third-color {
  color: white !important;
}

.span-btn {
  grid-column: span 2;
}
